@phone (max-width: 500px);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background-image: url('https://wallpapercave.com/wp/wp3841145.jpg');
  background: cover;
  font-family: roboto;
  padding: 10 10 20 20px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  margin-top: 15px;
  padding: 20px 20px;
  background-color: #627e91;
}
@phone {
  margin: 1.5rem 0 0 5.7rem;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}
@phone {
  margin-right: 5.8rem;
}
header nav a {
  background-color: purple;
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 4px;
}
/*img {
   max-width: 100%;  
 }*/
footer {
  margin: 20px 30px 90px 30px;
}
.copyright {
  text-align: center;
  font-size: 14px;
}
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(https://fonts.gstatic.com/s/fjallaone/v7/Yq6R-LCAWCX3-6Ky7FAFrOF6lw.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v5/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
.container {
  background-color: #FFEBCD;
  max-width: 900px;
  margin: auto;
  box-shadow: 10px 10px 5px 20px  black;
}
@phone {
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 10px;
}
.container .hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0 50px 0;
}
@phone {
  width: 100%;
  padding: 0 2.5rem;
}
.container .about-services {
  margin: 30px 0 0 30px;
}
@phone {
  height: auto;
  width: 90%;
  margin-left: 2.3rem;
}
.container .about-services {
  font-size: 15px;
  color: #212529;
  background: #C0C0C0;
}
@phone {
  width: 100%;
  padding: 0 2.5rem;
}
.container .content {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 30px;
}
.container .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 5px #800080;
  background-image: url('https://wallpapercave.com/wp/wp3841150.jpg');
  background: cover;
  font-family: roboto;
  margin: 30px;
  padding-bottom: 40px;
}
@phone {
  height: auto;
  width: 90%;
  margin-left: 2.3rem;
}
.container .about-item {
  margin: 40px 0 0 0;
  padding: 20px;
  background: #FFEBCD;
  border: 5px solid #800080;
  width: 400px;
  border-radius: 30px;
}
.container .about-item p {
  line-height: 18px;
  color: #FF00FF;
}
.container button {
  margin-left: 115px;
  border: 1px solid red;
  font-size: 16px;
  padding: 5px 40px 5px 40px;
  border: 1px solid black;
}
.container .about-item button {
  background: #DDA0DD;
  margin-top: 20px;
  font-size: 12px;
  padding: 10px;
  border: 2px solid #FF00FF;
  border-radius: 5px;
}
.container .about-item button:hover {
  margin-left: 115px;
  font-size: 16px;
}
@phone {
  width: 35rem;
  margin-left: 2.5rem;
}
.container .two-col {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px 0;
}
@phone {
  flex-direction: column;
}
.container .upper-items {
  width: 400px;
}
.container .three-col {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px 0;
}
.container .lower-items {
  width: 250px;
}
@phone {
  width: 100%;
  padding: 0 5rem;
}
