<<<<<<< HEAD
.home footer {
    width: 100%;
    height: 10vh;
    .flex(row, space-around);
    align-items: center;
    // margin: 0.625rem 0;
    background-color: @lightgrey;

    p {
        text-align: center;
        padding: 0.625rem 0;
    }

    a {
        width: 5%;
        color: @purple;

        img {
            width: 75%;
            height: 75%;
            object-fit: contain;
        }
    }

    #about {
        width: 12vw;
    }
}
=======
footer {
    margin: 20px;
    font-family: "Exo", sans-serif;
    color: #fff;
    
  }
  
  
  .copyright {
    text-align: center;
    font-size: 14px;
    
  }
>>>>>>> df43f0deb3686ba31973b7600835d2f752e4159d
