.home {
    a {
        text-decoration: none;
        color: white;

        @media @tablet {
            font-size: 1.2rem;
        }
    }

    .top-section {
        background-image: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        padding: 40px;
        height: 40vh;
        color: white;

        .flex(column, space-around);
        align-items: center;

        h1 {
            background: black;
            &:before {
                content: "Tired of deciding what to eat?";
                animation-name: display;
                animation-duration: 7s;
                animation-iteration-count: infinite;
            }
        }

        .btn {
            .button(14rem, 3rem);
            
            @media @tablet {
                .button(21rem, 4.5rem);
            }
        }

        @media @tablet {
            height: 50vh;
        }

        @media @desktop {
            height: 60vh;
        }
    }

    .gallery {
        .flex(column, space-between);
        margin: 10px auto;
        width: 80%;

        div {
            .flex(column, space-evenly);
            align-items: center;
            height: 50vh;

            img {
                @media @desktop {
                    width: 50%;

                    &:hover {
                        animation-name: img-enlarge;
                        animation-duration: 1.2s;
                        animation-fill-mode: forwards;
                    }
                }
            }

            p {
                text-align: center;

                @media @desktop {

                    &:hover {
                        animation-name: p-enlarge;
                        animation-duration: 1.2s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }

        .upper, .lower {
            @media @desktop {
                .flex(row, space-between);
            }
        }

        .middle {
            .flex(column-reverse, space-evenly);

            @media @desktop {
                .flex(row, space-evenly);
            }
        }

        img {
            width: 100%;
            height: 80%;
            object-fit: contain;
        }
    }

    .bottom-section {
        .flex(column, space-around);
        align-items: center;
        padding: @padding;
        height: 20vh;
        background-color: #DFE6ED;

        .btn {
            .button(10rem, 3rem);

            @media @tablet {
                .button(15rem, 4.5rem);
            }
        }

        @media @tablet {
            height: 30vh;
        }
    }

    .btn {
        @media @desktop {
            &:hover {
                background-color: darken(#6558F5, 10%);
            }
        }
    }
}