.home {
    .top-section {
        background-color: #6D7C88;
        padding: @padding;
        height: 200px;
        color: white;

        .flex(column, space-around);
        align-items: center;

        h1 {
            &:before {
                content: "Tired of deciding what to eat?";
                animation-name: display;
                animation-duration: 9s;
                animation-iteration-count: infinite;
            }
        }

        .btn {
            .button(14rem, 3rem);
        }
    }

    .gallery {
        .flex(column, space-around);
        margin: @margin;

        div, p {
            .flex(column, space-evenly);
            align-items: center;
            height: 100px;
        }

        div {
            background-color: lighten(grey, 35%);
        }
    }

    .bottom-section {
        .flex(column, space-around);
        align-items: center;
        padding: @padding;
        height: 125px;
        background-color: #DFE6ED;

        .btn {
            .button(10rem, 3rem);
        }
    }
}