.flex(@direction, @justify) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
}

.button(@width, @height) {
    .flex(row, center);
    align-items: center;
    width: @width;
    height: @height;
    background-color: #6558F5;
    color: white;
    border-radius: 12px;
}

// .keyframes(@name; @arguments) {
// 	@keyframes @name { @arguments(); }
// };

// .animation(@arguments) {
// 	animation: @arguments;
// }