header  {
  border: 1px solid black;
 margin-top: 15px;
 padding: 20px 20px;
background-color: #627e91;
}

header nav {
display: flex;
 flex-direction: row;
 justify-content: space-evenly;
margin: 2px 2px 2px 2px;
}

header nav a {

margin: 2px 2px 2px 2px;
 background-color: purple;
 color: white;
 font-size: 14px;
 text-decoration: none;
 border: 2px solid black;
 border-radius: 10px;
 padding: 4px;
}

 nav a:hover {
  margin: 2px 2px 2px 2px;
  background-color: purple;
  color: white;
  font-size: 14px;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 4px;
 }
 

 
 
 
 
 

 /*img {
   max-width: 100%;  
 }*/
