


  header  {
    flex-direction: row;
   justify-content: flex-end;
    border: 1px solid black;
   margin: 0 auto;
   padding: 20px 20px;
  background-color: #627e91;
  }
  @phone {
    margin: 1.5rem 0 0 5.7rem;
}

  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
     
    }
    @phone {
      margin-right: 5.8rem;
  }
    header nav a {
      
      justify-content: flex-end;
      background-color: purple;
      color: white;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      border: 2px solid black;
      border-radius: 10px;
      padding: 4px;
     }
     

 
 





 

 
 
 
 
 

 /*img {
   max-width: 100%;  
 }*/
