.index {
    // RESPONSIVE
    @tablet: ~"(min-width: 800px)";
    @desktop: ~"(min-width: 1000px)";

    // COLOURS
    @purple: #6558F5;
    @lightgrey: #F0F4F7;
    @lightgrey2: #DFE6ED;
    @black: black;
    @white: white;

    // KEYFRAMES
    @keyframes display {
        33% {
            content: "Want to discover new eateries?";
        }
        66% {
            content: "View restaurants you've visited?";
        }
    }

    @keyframes img-enlarge {
        0% {
            height: 80%;
        }
        100% {
            height: 120%;
            z-index: 1;
        }
    }
}