
// Color assignments 
@font-color: @shark;
@button-bg: @MEDIUMPURPLE;
@main-bg:  @white;
@navigation-border: @shark;
@footer-bg: @PLUM;
@font-family: 'Lakki Reddy', cursive;
// Colors
@white: #FFFFFF;
@PLUM:#DDA0DD;
@shark: #212529;
@MEDIUMPURPLE:#9370DB;
@sandy-beach: #FFEBCD;


//Media Queries
@phone (max-width: 500px);