   //Media Queries
@tablet: ~"(min-width: 800px)";
@desktop: ~"(min-width: 1000px)";

@phone: (max-width 500px);



// Color assignments 
@font-color: @shark;
@button-bg: @MEDIUMPURPLE;
@main-bg:  @white;
@navigation-border: @shark;
@footer-bg: @PLUM;
@about-content:@darkmagenta;

// Colors
@white: #FFFFFF;
@PLUM:#DDA0DD;
@shark: #212529;
@MEDIUMPURPLE:#9370DB;
@sandy-beach: #FFEBCD;
@darkmagenta:#8B008B;

